body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f6fafa;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 8vmin;
  line-height: 8px;
}

.main-content {
  display: flex;
  margin-top: 10vh;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: center;
  justify-content: center;
}

.start-game {
  display: grid;
  margin-top: 12vh;
  column-gap: 7ch;
  justify-content: center;
}

.game-square {
  width: 16vmin;
  height: 16vmin;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vmin;
  font-family: 'Roboto', sans-serif;
  transition: transform .4s;
  border-radius: 3px;
}

.game-square:hover {
  transform: scale(1.08);
}

#new-game {
  background-color: #fff;
  box-shadow: 0px 0px 5px 5px #ccc;
}

#join-game {
  background-color: #000;
  color: white;
  box-shadow: 0px 0px 9px 5px #999;
}

.board {
  height: 640px;
  width: 640px;
  box-shadow: 0px 0px 8px 6px #ccc;
  margin: 30px;
}

.tiles {
  display: grid;
  height: 640px;
  width: 640px;
  grid-template-columns: repeat(auto-fill, 80px);
}

.tile {
  height: 80px;
  width: 80px;
  position: relative;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}

.tile-black {
  background-color: #AA7C56;
  color: #f1dcbd;
}

.tile-white {
  background-color: #f1dcbd;
  color: #AA7C56;
}

.piece {
  z-index: 3;
  height: 80px;
  width: 80px;
  background-size: 80px 80px;
  opacity: 0.90;
  position: absolute;
}

/* the row tag */
.rank {
  z-index: 4;
  position: absolute;
  left: 72px;
  top: 1px;
}

/* the column tag */
.file {
  z-index: 4;
  position: absolute;
  bottom: 0px;
  left: 3px;
}

.tile-highlighted {
  background-color: rgba(125, 233, 53, 0.4);
}

.menu {
  position: relative;
  width: 200px;
  display: flex;
  align-items: top;
  margin:20px;
  justify-content: left;
}

h2 {
  font-size: 6vmin;
  line-height: 10px;
}

.time {
  text-align: left;
}

.nobr {
  white-space: nowrap;
}

.game-state {
  visibility: hidden;
}