body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f6fafa;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 8vmin;
  line-height: 8px;
}

.main-content {
  margin-top: 10vh;
  margin-left: 25vw;
  margin-right: 25vw;
  text-align: center;
}

.start-game {
  display: grid;
  margin-top: 12vh;
  column-gap: 7ch;
  justify-content: center;
}

.game-square {
  width: 16vmin;
  height: 16vmin;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vmin;
  font-family: 'Roboto', sans-serif;
  transition: transform .4s;
  border-radius: 3px;
}

.game-square:hover {
  transform: scale(1.08);
}

#new-game {
  background-color: #fff;
  box-shadow: 0px 0px 5px 5px #ccc;
}

#join-game {
  background-color: #000;
  color: white;
  box-shadow: 0px 0px 9px 5px #999;
}

.board {
  height: 640px;
  width: 640px;
  box-shadow: 0px 0px 8px 6px #ccc;
  margin:auto;
}

.tiles {
  display: grid;
  height: 640px;
  width: 640px;
  grid-template-columns: repeat(auto-fill, 80px);
}

.tile {
  height: 80px;
  width: 80px;
}

.tile-black {
  background-color: #AA7C56;
}

.tile-white {
  background: #f1dcbd;
}

.piece {
  z-index: 3;
  height: 80px;
  width: 80px;
  background-size: 80px 80px;
  opacity: 0.90;
}

.tile-highlighted {
  background-color: rgba(134, 235, 66, 0.4);
}